
<div  *ngIf="locations" >
  <div *ngFor="let location of locations ">
  <br>
  <h3 style="text-align: center">{{location.name}}</h3>
  <br>
  <table class="table table-bordered table-striped table-sm">
      <thead >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">IDENTITY</th>
          <th scope="col">CPU load %</th>
          <th scope="col">UP time</th>
          <th scope="col">TEMP</th>
          <th scope="col">MEMORY</th>
          <th scope="col">VOLTS</th>
          <th scope="col">IP-routes</th>
          <th scope="col">OSPF-neighbors</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statistic of location.statistics">
          <td>{{statistic._id}}</td>
          <td>{{statistic.identity}}</td>
          <td>{{statistic['cpu-load']}}</td>
          <td>{{statistic.uptime}}</td>
          <td>{{statistic.temp}}</td>
          <td>{{statistic['mem-free']}}</td>
          <td>{{statistic.volts}}</td>
          <td>{{statistic['ip-routes']}}</td>
          <td>{{statistic['ospf-neighbors']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
