<div class="container">
<div  *ngIf="locations" >
  <div *ngFor="let location of locations ">
  <br>
  <h3 style="text-align: center">{{location.name}}</h3>
  <br>
  <table class="table table-bordered table-striped table-sm">
      <thead >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">IDENTITY</th>
          <th scope="col">CPU load %</th>
          <th scope="col">UP time</th>
          <th scope="col">TEMP</th>
          <th scope="col">FREE Memory</th>
          <th scope="col">VOLTS</th>
          <th scope="col">IP-routes</th>
          <th scope="col">OSPF-neighbors</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statistic of location.statistics">
          <td><small>{{statistic._id}}</small></td>
          <td><small>{{statistic.identity}}</small></td>
          <td><small>{{statistic['cpu-load']}}</small></td>
          <td><small>{{statistic.uptime}}</small></td>
          <td><small>{{statistic.temp}}</small></td>
          <td><small>{{statistic['mem-free']}}</small></td>
          <td><small>{{statistic.volts}}</small></td>
          <td><small>{{statistic['ip-routes']}}</small></td>
          <td><small>{{statistic['ospf-neighbors']}}</small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
