<div class="container">

<div  *ngIf="locations" >
  <div *ngFor="let location of locations ">
  <br>
  <h3 style="text-align: center">{{location.name}}</h3>
  <br>
  <table class="table table-bordered table-striped table-sm">
      <thead >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Identity</th>
          <th scope="col">CPU load %</th>
          <th scope="col">Uptime</th>
          <th scope="col">Temp C</th>
          <th scope="col">Free Memory GB</th>
          <th scope="col">Volts</th>
          <th scope="col">IP-routes</th>
          <th scope="col">OSPF-neighbors</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statistic of location.statistics">
          <td><small>{{statistic._id}}</small></td>
          <td><small>{{statistic.identity}}</small></td>
          <td><small>{{statistic['cpu-load']}}</small></td>
          <td><small>{{statistic.uptime}}</small></td>
          <td><small>{{statistic.temp}}</small></td>
          <td><small>{{statistic['mem-free']/1024/1024 | number:'2.1-3'}}</small></td>
          <td><small>{{statistic.volts}}</small></td>
          <td><small>{{statistic['ip-routes']}}</small></td>
          <td><small>{{statistic['ospf-neighbors']}}</small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
