
<div style="text-align: center" *ngIf="bandwidth" >
    <div *ngFor="let location of bandwidth ">
      <br>
    <h3>{{location.name}}</h3>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Air Time Balance(Ksh)</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Data Balance</th>
            <th scope="col">Data Expiry</th>

  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let statistic of location.statistics">
            <td>{{statistic._id}}</td>
            <td>{{statistic.airTimeBalance}}</td>
            <td>{{statistic.airTimeExpiry}}</td>
            <td>{{statistic.dataBalance}}</td>
            <td>{{statistic.dataExpiry}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
