<div class="container">
<div style="text-align: center" *ngIf="bandwidth" >
    <div *ngFor="let location of bandwidth ">
      <br>
    <h3>{{location.name}}</h3>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">ID</th> -->
            <!--<th scope="col">Air Time Balance(Ksh)</th>-->
            <!-- <th scope="col">Expiry Date</th> -->
            <th scope="col">Data Balance</th>
            <th scope="col">Date Recieved</th>
            <th scope="col">Expiry Date</th>

  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let statistic of location.statistics">
            <!-- <td><small>{{statistic._id}}</small></td> -->
           <!-- <td><small>{{statistic.airTimeBalance}}</small></td>-->
            <!-- <td><small>{{statistic.airTimeExpiry}}</small></td> -->
            <td><small>{{statistic.dataBalance}}</small></td>
            <td><small>{{statistic.dateTimeReceived | date:'medium' }}</small></td>
            <td><small>{{statistic.dataExpiry | date:'medium'}}</small></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  
  
